<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <form name="loginForm" novalidate>
            <div class="form-group">
                <label for="email">Username</label>
                <input ng-model="user.email" type="email" id="email" name="email" class="form-control" placeholder="Enter Email" autofocus="true" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input ng-model="user.password" type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="authenticate(user)">Log In</button>
                <button class="btn btn-warning" ng-click="register(user)">Register</button>
            </div>
        </form>
    </div>
</div>