<div class="page-header">
    <h1>Destinations
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="detail()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </h1>
</div>

<div ng-repeat="dest in destinations" ng-click="gotoMessages(dest)" class="col-sm-3">
    <div class="panel panel-default">
        <div ng-click="" class="panel-heading">
            <h3 class="panel-title">{{ dest.url }}</h3>
        </div>
        <div class="panel-body">
            <div class="pull-right">
                <button class="btn btn-xs btn-warning" ng-click="detail(dest); $event.stopPropagation();">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-xs btn-danger" ng-click="remove(dest); $event.stopPropagation();">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="post-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Destination</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="basic-addon3">
                        {{ dest.protocol }}
                    </span>
                    <ul class="dropdown-menu">
                        <li ng-repeat="protocol in protocols"><a ng-click="dest.protocol = protocol">{{ protocol }}</a></li>
                    </ul>
                    <input type="text" ng-model="dest.url" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="save(dest)" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>