<div class="page-header">
    <h1>{{ message.url + message.path + '  ' + message.method }}
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="exec()">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </div>
        </div>
    </h1>
</div>

<ul class="list-group">
  <li ng-repeat="log in message.logs" class="list-group-item" ng-class="getItemClass(log)">{{ log.date }}
      <span class="badge">{{ log.statusCode }}</span>
  </li>
</ul>