<div class="page-header">
    <h1>{{ destination.url }}
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="detail()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </h1>
</div>

<div ng-repeat="msg in destination.messages" ng-click="gotoLogs(msg)" class="col-sm-3">
    <div class="panel panel-default" ng-class="getPanelColor(msg)">
        <div ng-click="" class="panel-heading">
            <h3 class="panel-title">{{ msg.path || '/' }}</h3>
        </div>
        <div class="panel-body">
            <span class="badge">{{ 'A: ' + msg.attempts }}</span>
            <span class="badge">{{ msg.status }}</span>
            <div class="pull-right">
                <button class="btn btn-xs btn-success" ng-click="exec(msg); $event.stopPropagation();">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <!--<button class="btn btn-xs btn-danger" ng-click="remove(dest); $event.stopPropagation();">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>-->
            </div>
        </div>
    </div>
</div>


<div id="message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="row modal-body">
                <div class="col-sm-4 form-group">
                    <label>Protocol</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ msg.protocol }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="protocol in protocols"><a ng-click="msg.protocol = protocol">{{ protocol }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Verb</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ msg.method }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="verb in verbs"><a ng-click="msg.method = verb">{{ verb }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Port</label>
                    <input type="text" ng-model="msg.port" class="form-control">
                </div>
                <div class="col-sm-12 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ getBaseUrl(msg) }}</span>
                        <input type="text" ng-model="msg.path" class="form-control">
                        <span class="input-group-addon" id="basic-addon3">{{ msg.method }}</span>
                    </div>
                </div>
                <h5>Headers</h5>
                <div class="col-sm-5 form-group">
                    <input type="text" ng-model="newHeader.key" class="col-sm-3 form-control">
                </div>
                <div class="col-sm-5 form-group">
                    <input type="text" ng-model="newHeader.value" class="col-sm-3 form-control">
                </div>
                <div class="col-sm-2 button-group">
                    <button class="btn btn-primary pull-right" ng-click="saveHeader(msg, newHeader.key, newHeader.value)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="col-sm-12 form-group">
                    <div ng-repeat="(key, value) in msg.headers" class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{ key }}</span>
                        <input type="text" class="form-control" ng-model="value" aria-describedby="basic-addon1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="save(msg)" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>